
  /* Optional: Makes the sample page fill the window. */
  /* @font-face {
    font-family: MitrFont;
    src: url(https://anywhere.pwisetthon.com/https://share.traffy.in.th/fonts/Mitr/Mitr-Light.ttf);
  }
  @font-face {
    font-family: MitrSemiBoldFont;
    src: url(https://anywhere.pwisetthon.com/https://share.traffy.in.th/fonts/Mitr/Mitr-SemiBold.ttf);
  } */

  @font-face {
    font-family: IBMPlexSansThaiFont;
    src: url(https://anywhere.pwisetthon.com/https://share.traffy.in.th/fonts/IBMPlexSansThai/IBMPlexSansThai-Medium.ttf);
  }
  @font-face {
    font-family: IBMPlexSansThaiSemiBoldFont;
    src: url(https://anywhere.pwisetthon.com/https://share.traffy.in.th/fonts/IBMPlexSansThai/IBMPlexSansThai-SemiBold.ttf);
  }

  html,
  body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: IBMPlexSansThaiFont;
    color: #4D4D4D;
    overflow: hidden;
  }

#map{
  height: 95%;
  position:absolute;
}
#over{
    position: absolute;
}

#tab-overlay-map {
  margin: 1%;
  background-color: aqua;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none!important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  color:#FFFF;
}

.btn-primary.custom-btn {
	background-color: #FFFF;
  color: #201c51;
	border-color: #201c51;
}

.text-style {
  font-family: MitrFont;
  color: #4D4D4D;
}

.dont-break-out {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}

.badge-state-start {
  background-color: transparent;
  color: #ffb42c;
  border: 1px solid #ffb42c;
}

.badge-state-inprogress {
  background-color: transparent;
  color: #0884dc;
  border: 1px solid #0884dc;
}

.badge-state-finish {
  background-color: transparent;
  color: #58b42c;
  border: 1px solid #58b42c;
}


.sign-state-start {
  background-color: #f6b900;
  color: #fff;
  /* border: 1px solid #ffb42c; */
}

.sign-state-inprogress {
  background-color: #ed2010;
  color: #fff;
  /* border: 1px solid #0884dc; */
}

.sign-state-finish {
  background-color: #61d637;
  color: #fff;
  /* border: 1px solid #58b42c; */
}

.sign-state-total {
  background-color: #5e5e5e;
  color: #fff;
  /* border: 1px solid #f15f42; */
}

.margin-stat-state {
  margin-top: 4px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 4px;
}

.select-li-active {
  color: #0d6efd;
  text-decoration: underline;
}

.hover-li-filter:hover {
  color: #0d6efd;
  text-decoration: underline;
}